.category-list {
  &__title {
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @media only screen and (min-width: 700px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
