.header {
  border-bottom: 1px solid #ccc;
  position: relative;
  .wrapper {
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding: 0 1.6rem;
    position: relative;
  }

  &__brand {
    font-size: 2rem;
    letter-spacing: 5px;
    cursor: pointer;
  }

  &__menu {
    font-size: 2.5rem;
    margin-right: 2rem;
    cursor: pointer;

    @media only screen and (min-width: 700px) {
      display: none;
    }
  }

  &__cart-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    overflow-x: visible;

    span {
      font-size: 1.4rem;
      font-weight: 300;
      color: green;
    }
  }

  &__cart-box:hover > .dropdown {
    opacity: 1;
    visibility: visible;
  }

  &__cart {
    font-size: 2.5rem;
    margin-right: 0.5rem;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);

    transition: opacity 0.2s;

    @media only screen and (min-width: 700px) {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }

  .hideBackdrop {
    visibility: hidden;
    opacity: 0;
  }

  .showBackdrop {
    visibility: visible;
    opacity: 1;
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100vh;
    z-index: 9999;
    background-color: var(--color-white);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 2rem 0;
    max-width: 400px;

    transition: transform 0.4s ease-in-out;

    @media only screen and (min-width: 700px) {
      all: unset;
      display: flex;
      transform: translateX(0) !important ;
      gap: 1.5rem;
      margin-left: auto;
    }
  }

  .hidden {
    transform: translateX(-100rem);
  }

  .show {
    transform: translateX(0);
    opacity: 1;
  }

  &__nav-container {
    padding: 0 1rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    @media only screen and (min-width: 700px) {
      display: none;
    }
  }

  &__nav-brand {
    letter-spacing: 5px;
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }

  &__close {
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
  }

  &__link {
    border-bottom: 1px solid var(--color-grey-1);
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color-text-1);

    &:hover {
      text-decoration: underline;
    }

    @media only screen and (min-width: 700px) {
      border: none;
      padding: 0;
      color: var(--color-white);
    }
  }

  .blackLink {
    color: var(--color-text-1) !important ;
  }

  /*&__signin {
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary);
    }
  }*/

  &__hero-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
  }

  &__hero-box-text2 {
    font-size: 3.5rem;
    line-height: 1;
    margin: 1.5rem 0;
  }

  &__hero-box-btn {
    margin-top: 3rem;
    font-family: inherit;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 10rem;
    outline: none;
  }
}
